{% include 'header.twig' %}

<body>
	<div class = "container">
    <a href="index.php" class="btn btn-primary">Home</a>

    {% for row in data %}
        <div class="club-pannel">
            <h1>{{ row.club_name }}</h1>
            <p>{{ row.description }}</p>
        </div>
    {% endfor %}
	</div>
</body>

{% include 'footer.twig' %}