{% include 'header.twig' %}
{% include 'top-bar.twig'%}

<body>
    <a href="index.php">home</a>

    {% for row in data %}
        <div class="club-pannel">
            <h1>{{ row.club_name }}</h1>
            <p>{{ row.description }}</p>
            <a class="btn btn-primary" href="" role="button">Join</a>
        </div>
    {% endfor %}
</body>

{% include 'footer.twig' %}