{% include 'header.twig' %}
{% include 'top-bar.twig'%}

<body>
    <a href="index.php">home</a>

    <table>
        <tr>
            <th>Campus</th>
            <th>Day</th>
            <th>Opens</th>
            <th>Closes</th>
        </tr>

        {% for row in data %}
            <tr>
                <td>{{ row.campus_name }}</td>
                <td>{{ row.day_of_week }}</td>
                <td>{{ row.opens_at }}</td>
                <td>{{ row.closes_at }}</td>
            </tr>
        {% endfor %}
    </table>
</body>

{% include 'footer.twig' %}
