{% include 'header.twig' %}
{% include 'top-bar.twig'%}

<body>
    <div class="main">
        <div class="index-main">
            {% for link in links %}
                <a class="index-panel" href="{{ link.href }}">{{ link.label }}</a>
            {% endfor %}
        </div>
    </div>
</body>

{% include 'footer.twig' %}
