{% include 'header.twig' %}
{% include 'top-bar.twig' %}

<div class="MainContent">
    <div class="login-page">
        <h1>login</h1>
        <form action="php/validate-login.php" method="post">
            <div class="mb-3">
                <label for="User" class="form-label">Username</label>
                <input type="text" class="form-control" id="User" name="User" required>
            </div>
            <div class="mb-3">
                <label for="Password" class="form-label">Password</label>
                <input type="password" class="form-control" id="Password" name="Password" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        {% if warning %}
            <p>{{warning}}</p>
        {% endif %}
    </div>
</div>

{% include 'footer.twig' %}