{% include 'header.twig' %}
{% include 'top-bar.twig'%}

<body>
    <div class="main">
        <a href="index.php" class="btn btn-primary" style="margin-bottom: 5px;">Home</a>

            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Route Name</th>
                        <th>Schedule</th>
                        <th>Last Updated</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                        <tr>
                            <td>{{ row.route_name }}</td>
                            <td>{{ row.schedule }}</td>
                            <td>{{ row.last_updated }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
</body>

{% include 'footer.twig' %}
