{% include 'header.twig' %}

<body>
    <a href="index.php">home</a>

    <table>
        <tr>
            <th>Route Name</th>
            <th>Type</th>
            <th>Schedule</th>
            <th>Last Updated</th>
        </tr>

        {% for row in data %}
            <tr>
                <td>{{ row.route_name }}</td>
                <td>{{ row.transport_type }}</td>
                <td>{{ row.schedule }}</td>
                <td>{{ row.last_updated }}</td>
            </tr>
        {% endfor %}
    </table>
</body>

{% include 'footer.twig' %}
